[submodule "otomo-protobuf"]
	path = otomo-protobuf
	url = https://github.com/TWALL9/otomo-protobuf.git
[submodule "kiss-encoding"]
	path = kiss_encoding
	url = https://github.com/TWALL9/kiss-encoding.git
